<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/mini-default.min.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <title>{{.Title}}</title>
</head>

<body class="bg-image">
  <header class="sticky"><a href="#"><img class="logo" src="static/img/logo.png" alt="{{.Title}}"></a></header>
  <div class="container">
    {{range .ItemList}}
    {{if .Enable}}
    <div class="row">
      <div class="col-sm-12">
        <div class="card fluid">
          <div class="section dark">
            {{if .Handle}}
            <h3>{{.Title}}<a href="/kill?id={{.Id}}"><img class="play-button" width="18pt" height="18pt"
              src="static/img/stop-solid.svg" /></a></h3>
            {{else}}
            <h3>{{.Title}}<a href="/launch?id={{.Id}}"><img class="play-button" width="18pt" height="18pt"
                  src="static/img/play-solid.svg" /></a></h3>
            {{end}}
          </div>
          <div class="section">
            <p>{{.Description}}</p>
          </div>
          <div class="section">
            {{range .Authors}}
            {{.}},
            {{end}}
          </div>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
<!-- 
  <footer class="sticky">
    <p>&copy; 2020 Hartmut Seichter</p>
  </footer>
 -->
</body>

</html>